.plansScreen_plan {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  opacity: 0.8;
}

.plansScreen_plan:hover {
  opacity: 1;
}

.plansScreen_plan > button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #e50914;
  color: #fff;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.plansScreen_plan--disabled > button {
  background-color: gray !important;
}
